{% extends "layout.njk" %}

{% block content %}
<main class="container">
  <div class="wrapper">
    <div class="card">
      <h1> Välkommen {{ username }}!</h1>
      <h2>Produkter:</h2>

      {% for product in products %}
      <div class="product-list-container">
        <div class="product-card">
          <img src="/img/{{ product.image }}" width="200" height="200" alt="Produktbild på {{ product.name }}">
          <h3>{{product.name}}</h3>
          <p>{{product.price}} kr/st</p>
          <button class="addtocardbutton" data-product="{{ product.id }}">Lägg till i kundvagnen</button>
        </div>
      </div>  
      {% endfor %}

    </div>
  </div>
      
</main>
{% endblock %}