{% extends "layout.njk" %}

{% block content %}
<main class="container">
  <div class="wrapper">
  <div class="card">
    <h1> Välkommen {{ username }}!</h1>
  <h2>Produkter:</h2>
</div>
</div>


</main>
{% endblock %}