{% extends "layout.njk" %}
[% extends "button.js" %]
[% extends "index.njk" %]

{% block content %}

<main class="wrapper">
  <div class="card">
    <h1>Varukorg</h1>


    <ul class="product-list">
      <button> Submit </button>
    </ul>

    <script>
      const productListElement = document.querySelector('.product-list');
      let cart = JSON.parse(localStorage.getItem('cart')) || [];
      //console.log(cart[i])
      //id = cart[i].id
      //console.log(id)
      if ('cart') {
        for (let product in cart) {
          console.log(product)

          const li = document.createElement('li');
          li.innerHTML = `
          <img src="/img/{{ product.image }}" width="200px" height="200px" alt="Produktbild på {{ product.name }}">
          <h3>${product.name}</h3> 
          <p>${product.price} kr/st</p>
          <p>${product.count} st</p>`
          productListElement.appendChild(li);
          localStorage.setItem('cart', JSON.stringify(cart)) // spara i localstorage
          // skapa ett nytt element
          // createElemnt li
          // li.innerHTML
          // appendChild på productListElement
        }
        // välj elementet product list
        // iterera över cart och lägg till dem i product-list
        // skapa en submit cart knapp
      }     
    </script>



</main>
{% endblock %}