{% extends "layout.njk" %}

{% block content %}

<main class = "wrapper"> 
<div class="login">
    <h1>Registrera</h1>
<form action="/signup" method="post">
    <label for="username">Välj ditt annvändarnam</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Välj ditt lösenord</label>
    <input type="text" id="password" name="password" required>
  

    <input type="submit" value="Registrera"> 
</div>
</main>

{% endblock %}