.container {
    max-width: 54rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .wrapper{
    width: 100%;
    max-width: 40.63rem;
    margin: 6rem auto;
    
  }

  .login {
    color: #ffffff;
  }

  .product-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .product-card {
    width: 30%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .product-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .product-title {
    font-size: 20px;
    margin: 0;
  }
  
  .product-description {
    margin: 10px 0;
  }
  
  .product-price {
    font-weight: bold;
    margin: 0;
  }

  .login {
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
       padding: 1;
            }
    
      input[type=number], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #e0e0e0;
        border-radius: 4px;
        box-sizing: border-box;
    
      }
      input[type=submit] {
        width: 100%;
        background-color: #333;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
  }

  .card {
    width: 100%;
    background: rgb(255, 255, 255);
    border-radius: 3rem;
    box-shadow: 0 0.5rem 1rem rgba(245, 245, 245, 0.719);
    margin-bottom: 2rem;
    padding-top: 2rem;
    padding-bottom: 60%;
    padding-left: 2rem;
  }

  body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    background-color: #04003e;
  }

  #navbar {
    overflow: hidden;
    background-color: #ffffff;
    position: top; 
    top: 0; 
    width: 100%; 
  }


  #navbar a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
 
  #navbar a:hover {
    background: rgba(228, 1, 1, 0.365);
    color: black;
  }
  
  textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }
  input[type=submit] {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }